@import "../App";

.music-rooms-page {
  padding: @padding-xl @padding-xxl;
  overflow: scroll !important;
  background-color: @light-grey-color;

  h1.musicrooms-title {
    font-size: @font-size-xxl;
    font-weight: @font-weight-bold;
    padding-left: @padding-xs;
    margin-bottom: 0;
  }

  .ant-row.music-rooms {
    margin-top: @margin-lg;

    .ant-col {
      .ant-card {
        border-radius: @border-radius-md;

        .ant-card-head {
          .ant-card-head-wrapper {
            .ant-card-head-title {
              font-size: @font-size-card-title;
              font-weight: bold;
            }

            .ant-card-extra {
              .ant-space {
                .ant-space-item {
                  font-weight: bold;

                }
              }
            }
          }
        }

        .ant-card-body {
          .ant-row {
            .owner-container, .users-container {
              display: flex;
              align-items: center;
              margin-bottom: @margin-sm;
            }

            .owner-container {
              svg {
                font-size: 20px;
              }

              h3.owner-name {
                margin-bottom: 0;
                margin-left: @margin-xss;
                color: @normal-grey-color;
                font-size: 20px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            }

            .users-container {
              .ant-row {
                width: 100%;

                .ant-col {
                  &.user-count {
                    display: flex;
                    align-items: center;

                    h3.user-count-text {
                      font-size: 20px;
                      color: @normal-grey-color;
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }


          }
        }
      }
    }
  }

  div.horizontal-line {
    height: 1px;
    color: @normal-grey-color;
    width: 100%;
  }

}